@page "/users"
@using System.Text.Json
@using System.Text.Json.Serialization;
@using System.IO;
@using ServerAPI.Data;
@using System.Globalization;
@inject NavigationManager NavManager
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JSRuntime;

<h1>Active Users</h1>

@if (getBranchesError || records is null)
{
    <p>Unable to get branches from Source. Please try again later.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in records)
            {
                <tr>
                    <td>@record.ID</td>
                    <td>@record.name</td>
                    <td>@record.Email</td>
                    <td>@record.Password</td>
                    <td>@record.Role</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<OurUsers>? records = Array.Empty<OurUsers>();
    private bool getBranchesError;
    private bool shouldRender;
    private bool canDownload = false;
    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "https://my-api-test.azurewebsites.net/api/get-list?code=_LjDB4O81c3uwiPBV04TpFBvr3EZt0PPUJn-cawlDjxEAzFulyXHwg==");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            records = await JsonSerializer.DeserializeAsync
                <IEnumerable<OurUsers>>(responseStream);
        }
        else
        {
            getBranchesError = true;
        }
        shouldRender = true;
    }

}
